In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

html_text = requests.get("https://www.timesjobs.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords=python&txtLocation=").text
# print(html_text.text)

In [ ]:
soup = BeautifulSoup(html_text,"lxml")

In [ ]:
#to find the specific job post 
jobs = soup.find_all("li", class_ = "clearfix job-bx wht-shd-bx")
data = [[company_name, skills]]
sr = 1

for job in jobs:
  published_date = job.find('span', class_ = "sim-posted").span.text
  if 'few' in published_date:
    # if "0 - 3" in experiance:
      company_name = job.find('h3', class_ ="joblist-comp-name").text.replace('  ','').replace('\n','').replace('\r','')
      skills = job.find('span', class_ = "srp-skills").text.replace('\r','').replace('\n','').replace('\r','')
      sr = sr+1
      # print(f"Company Name:{company_name.strip()}")
      # print(f"required Skills:{skills.strip()}")
      data.insert(sr,[company_name,skills])

df = pd.DataFrame(data, columns=["company_name","skills"])

In [ ]:
df

,company_name,skills
0,APPLYCUP HIRING SOLUTIONS LLP,"python,webtechnologies,webtechnologies"
1,Surya Informatics Solutions Pvt. Ltd.,"python , web technologies , linux , mobi..."
2,Perfios Software,"python , java , scala"
3,Ivan Infotech Pvt. Ltd.,"rest , python , security ..."
4,GEMINI SOFTWARE SOLUTIONS,"python , docker , django , git , linux..."
5,quality thought,"rest , python , django , ..."
6,east india securities ltd.,"python , hadoop , machine learning ..."
7,techvantage systems,"rest , python , devops , ..."
8,JobsLo Consultants,"python , linux , windows , sql ..."
9,art technology and software india pvt ltd,"rest , python , database ..."
10,sjain ventures,"python , web developer , web services ..."
11,systango,"python , django , javascript , web progr..."
12,TandA HR Solutions,"Python , Django , Flask , unit testin..."
13,TandA HR Solutions,"python , git , django , GIT Hub ..."
14,GS LAB,"python , git , rest api , linux ..."
15,TandA HR Solutions,"Python , Django , Flask , GIT Hub ..."
16,Gemini Solutions,"python , mobile , docker , django , gi..."
17,young minds technology solutions pvt ltd,"python , html5 , storage , javascript ,..."
18,APPLYCUP HIRING SOLUTIONS LLP,"python , web technologies , web technologi..."